html, body, div, h1, h2, a, p, header, footer{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

html{
	height: 100%;
	overflow: hidden;
}

body{
	width: 100%;
	min-width: 800px;
	background-color: #8B8E91;
}

br{
	display: block;
	line-height:1.6em;
}

header{
	display: block;
	position: relative;
	background-color: #787C7C;
	width: 100%;
	height: 100px;
	z-index: 101;
	border-bottom-color: B9B9BB;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

footer{
	display: block;
	position: relative;
	background-color: #FF0066;
	width: 100%;
	height: 5vh;
	bottom: 0px;
}

h1 {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 1.6em;
	line-height: 1.3em;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: -0.05em;
	margin-bottom: 15px;
}

h2{
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 1.0em;
	line-height: 1.3em;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: -0.05em;
	margin-bottom: 15px;
}

p {
	width: 50%;
	font-size: 16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

img{
	width: 100%;
}

a {
	color: #FFFFFF;
	font-size: 16px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a:hover{
	color: #BBBBBB;
}

hr{
	width: 50%;
	float: left;
	border-style: dotted;
	border-width: 2px;
	
}

.headerBtn{
	float: left;
	background: none;
	width: 30%;
	height: 10px;
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 1%;
}

.oneThird{
	height: 100%;
	display: inline-block;
	width: 32%;
	z-index: 300;
}

.headerLogo{
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-image: url("logoCartomatic.png");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 20vw;
	height: 120px;
}

.allDiv{
	position: relative;
	display: none;
	width: 90%;
	height: 80vh;
	z-index: 100;
	background-color:#8B8E91;
	/*border-color: #000000;
		border-style: solid;
	border-width: 3px;*/
	margin-top: 50px;
	margin-right: 5%;
	margin-left: 5%;
	overflow: auto;
	color:#FFFFFF;
}

#homeBtn{
	float: right;
}

#aboutBtn{
	float: right;
}

#homeDiv{
	display: block;
}

